html{
  background-color: #343a40;
}
body {
  background-color: #343a40;
  color: #fff;
  font-size: 10px;
}
#typing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2%;
  z-index: 5;
}
#chatbox {
  max-height: 600px;
  border: 1px solid;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-size: 12px;
}

#chatbox.my-3 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  max-height: 100%;
  
}
.btn {
  display: flex;
  width: 100%;
}
.k-avatar {
  width: 50px;
  height: 50px;
}
.message-input-container {
  display: flex;
  width: 100%;
  border-radius: 5%;
  padding: 2%;
}
.k-input {
  display: flex;
  align-content: flex-end;
  width: 100%;
}
header {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 10%;
}
#root {
  max-width: 400px;
  max-height: 600px;
  margin: 1% auto;
  margin-top: 50px;
  padding: 1%;
  background-color: #ccc;
  color: blue;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: scroll;

}
.chat-message {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  color: #000;
}
.chat-message-left {
  text-align: left;
}
.chat-message-right {
  text-align: right;
}
.App {
  text-align: center;
}
.k-bubble {
  display: flex;
  justify-content: right;
  align-items: center;
  height: 100%;
  padding: 2%;
  background-color: #007bff;
  border-radius: 5%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.k-button-icon,
.k-icon {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  width: 35px;
  background-image: "https://img.icons8.com/ios/50/000000/send.png";
}

.k-button-send i {
  padding: 2%;
}
.k-widget, .k-chat{
  height:500px;
  max-width: 100%;
  box-sizing: border-box;
max-height: 400px;
}
.input-group{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 1%;
  z-index: 5;
}

@media (max-width: 480px) {
  #chatbox {
    width: 100%;
  }
}
@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  animation: spinner 1s linear infinite;
}