html{
  background-color: #343a40;
}
.nav-item .nav-link{
  color:white;
}
body {
  background-color: #343a40;
  color: #fff;
  font-size: 10px;
}
.input-group{
  background-color: #343a40;
}

.btn {
  display: flex;
  width: 100%;
}
.k-avatar {
  width: 50px;
  height: 50px;
}
.k-input {
  display: flex;
  font-size: 14px;
  width: 100%;
}
header {
  background-color: #343a40;
  color: #fff;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  height: 10%;
}
#root {
  max-width: 550px;
  max-height: 100%;
  margin: 1% auto;
  background-color: #494646;
  color: rgb(244, 244, 246);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
height: 510px;
border: 5px solid #625d6a;
border-radius: 5px;
}
.k-bubble, .k-alt {
   display:flex;
  flex-direction: column;
  float: left;

}
.k-no-avatar, .k-bubble {
  display:flex;
  flex-direction: column;
  float: right;
}
.k-bubble {
  display: flex;
font-size: 14px;
padding: 2%;
  background-color: #1a579d;
  border-radius: 10%;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-link {
  color: #61dafb;
}
.k-button-icon,
.k-icon {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  margin-left: 5px;
  padding: 5px 5px;
  display: flex;
  width: 35px;
  background-image: "https://img.icons8.com/ios/50/000000/send.png";
}
.k-button-send i {
  padding: 2%;
}
.k-message-list.k-avatars{
  display:flex;
  flex-direction: column;
  height:100%;
  max-width: 100%;
  box-sizing: border-box;
  max-height: 450px;
 overflow-y: scroll;
  padding: 1%;
  position: relative;
}
.k-widget.k-chat{
  display: flex;
  flex-direction: column;
  height: 500px;
  max-height: 100%;
  width: 100%;
  max-width: 98%;
  box-sizing: border-box;
  padding: 1%;
  position: relative;  
    
}
.k-message-list-content{
  display:flex;
  flex-direction: column;
  max-width: 100%;
  padding: 1%;
  position: relative;
  max-height: 400px;

}
@media (max-width: 480px) {
  #chatbox {
    width: 100%;
  }
}
.spinner {
  animation: 1.5s linear infinite spinner;
  animation-play-state: inherit;
  border: solid 5px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  width: 40px;
  position: absolute;
right: 40%;
top:80%;
  transform: translate3d(-50%, -50%, 0);
  will-change: transform;
  margin-bottom: 15%;
}
@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
